api=yes
api-key={{ pdns_api_key }}
autosecondary=yes
config-dir=/etc/powerdns
daemon=yes
disable-axfr=yes
include-dir=/etc/powerdns/pdns.d
launch=gmysql
local-address=0.0.0.0
local-port=53
log-dns-details=on
loglevel={{ pdns_loglevel }}
module-dir=/usr/lib/x86_64-linux-gnu/pdns
primary=no
secondary=yes
setgid=pdns
setuid=pdns
socket-dir=/var/run/pdns
version-string=powerdns
xfr-cycle-interval=60
