allow-axfr-ips={{ pdns_slave_ip }}
also-notify={{ pdns_slave_ip }}
api=yes
api-key={{ pdns_api_key }}
autosecondary=no
config-dir=/etc/powerdns
daemon=yes
default-soa-content=ns1.@ hostmaster.@ 0 10800 3600 604800 3600
disable-axfr=no
include-dir=/etc/powerdns/pdns.d
launch=gmysql
local-address=0.0.0.0
local-port=53
log-dns-details=on
loglevel={{ pdns_loglevel }}
module-dir=/usr/lib/x86_64-linux-gnu/pdns
primary=yes
secondary=no
secondary-do-renotify=yes
setgid=pdns
setuid=pdns
socket-dir=/var/run/pdns
version-string=powerdns
webserver=yes
webserver-address={{ pdns_master_ip }}
webserver-password={{ pdns_webserver_password }}
webserver-port={{ pdns_webserver_port }}
webserver-allow-from={{ pdns_webserver_allow_from }}
